
                                                     Functions

def  -> Keyword

Syntax:
def function_name(parameters):
  fuction body

In [1]:
def simple():
    print("Python Function")

In [40]:
simple()

Python Function

In [7]:
def addition1(a):
    return a
print(addition1(10))

10

In [6]:
def addition2(a):
    return a + 10
print(addition2(15))

25

In [5]:
def addition3(a):
    result=a+10
    return result
addition3(12)

22

In [8]:
#we can return only one statement in a function

def addition3(a):
    result=a+10
    return "Result"
    return result
addition3(12)

'Result'

In [10]:
def addition3(a):
    result=a+10
    print("Result")
    return result
addition3(12)

Result

22

Function within a function

In [11]:
def wage(hours):
    return hours*25
def bonus(hours):
    return wage(hours)+50

In [12]:
wage(8),bonus(8)

(200, 250)

Conditional Statements with functions

In [13]:
def addition4(a):
    if a>=100:
        return a+10
    else:
        return "Save More"

In [14]:
addition4(100)

110

In [15]:
addition4(70)

'Save More'

Functions with more parameters

In [25]:
def sub(a,b,c):
    result=a - b*c
    print("a =",a)
    print("b =",b)
    print("c =",c)
    return result

In [26]:
sub(40,2,3)

a = 40
b = 2
c = 3

34

Built-in functions

In [27]:
type(10)

int

In [29]:
float(3)

3.0

In [30]:
max(10,20,40)

40

In [31]:
min(78,56,10)

10

In [32]:
z=-20
abs(z)

20

In [35]:
list1=[1,2,3,4]
sum(list1)

10

In [36]:
round(3.556,2)

3.56

In [37]:
round(3.563,2)

3.56

In [38]:
pow(2,10)

1024

In [41]:
len("Python") #length starts from 1

6


                                                   List

List is a type of sequence of data points

In [46]:
people=['john','leela','naveen','teena']
people

['john', 'leela', 'naveen', 'teena']

In [47]:
people[1]

'leela'

In [48]:
#last element
people[-1]

'teena'

In [49]:
#last 2nd element
people[-2]

'naveen'

In [51]:
#replace
people[3]='Teju'
people

['john', 'leela', 'naveen', 'Teju']

In [52]:
#delete element
del people[2]
people

['john', 'leela', 'Teju']

Methods

In [96]:
#insert values
people.append("jaggu")
people

['john', 'leela', 'Teju', 'jaggu']

In [98]:
#extend values
people.extend(["Akshay","Amrutha"])
people

['john', 'leela', 'Teju', 'jaggu', 'Akshay', 'Amrutha']

In [99]:
print("First participant is "+people[0]+'.')

First participant is john.

In [100]:
len(people)

6

Slicing

In [101]:
people

['john', 'leela', 'Teju', 'jaggu', 'Akshay', 'Amrutha']

In [102]:
people[1:3]

['leela', 'Teju']

In [103]:
people[:2]

['john', 'leela']

In [104]:
people[4:] #another way people[-2:]

['Akshay', 'Amrutha']

In [105]:
#access index value
people.index("Teju")

2

In [106]:
#creating another list
newlist=["aarav","abhi"]
newlist

['aarav', 'abhi']

In [107]:
#combining 2 list
combined_list=[people,newlist]
combined_list

[['john', 'leela', 'Teju', 'jaggu', 'Akshay', 'Amrutha'], ['aarav', 'abhi']]

Sort

In [108]:
people.sort()
people

['Akshay', 'Amrutha', 'Teju', 'jaggu', 'john', 'leela']

In [109]:
#display list in reverse order
people.sort(reverse=True)
people

['leela', 'john', 'jaggu', 'Teju', 'Amrutha', 'Akshay']

In [110]:
numbers=[1,2,3,4,5]
numbers.sort()
numbers

[1, 2, 3, 4, 5]

In [111]:
numbers.sort(reverse=True)
numbers

[5, 4, 3, 2, 1]


                                                        Tuples

Tuples are a type of data Sequence
Tuple are immutable

In [112]:
x=(10,20,30)
x

(10, 20, 30)

In [113]:
a,b,c=1,4,6
c

6

In [115]:
x[0]

10

In [116]:
(age,years_of_school)="30,17".split(',')
print(age)
print(years_of_school)

30
17

In [119]:
#Functions can provide tuples as return values
def square(x):
    a=x**2
    p=4*x
    print("Area and perimeter: ")
    return a,p
square(3)

Area and perimeter:

(9, 12)


                                                    Dictionaries

Dictionaries represent another way of storing data

In [120]:
dict={'k1':"apple",'k2':"ball"}
dict

{'k1': 'apple', 'k2': 'ball'}

In [123]:
dict['k1']

'apple'

In [125]:
#replacing values
dict['k2']='cat'
dict

{'k1': 'apple', 'k2': 'cat'}

In [127]:
workers={'dept1':'p1','dept2':['p2','p3','p4']}
workers['dept2']

['p2', 'p3', 'p4']

In [131]:
Team={}
Team['p1']='Abc'
Team['p2']='Efg'
Team['p3']='Hij'

In [132]:
print(Team)

{'p1': 'Abc', 'p2': 'Efg', 'p3': 'Hij'}

In [133]:
print(Team['p3'])

Hij

In [134]:
print(Team.get('p2'))

Efg

In [156]:
print(Team.get('p7')) #if it doesn't exists

None

Iterating over a dictionary

In [159]:
prices={
    'pizza':4,
    'burger':5,
    'coke':2
}
quantity={
    'pizza':8,
    'burger':2,
    'coke':4
}
#how much he spent in pizzahut?
spent=0
for i in prices:
    spent=spent+(prices[i]*quantity[i])
print(spent)

50


                                                  Loops

Iterations is the ability to execute a certain code repeatedly

In [137]:
even=[0,2,4,6,8,10,12,14,16,18,20]
for n in even:
    print(n,end=' ')

0 2 4 6 8 10 12 14 16 18 20

In [138]:
x=0
while x<=20:
    print(x,end=' ')
    x=x+2 #incrementing +2

0 2 4 6 8 10 12 14 16 18 20


                                              Lists with the range()

range(start,stop,step)
start=fsrt num in the list
stop=lst value +1
step=the distance btw each two consecutive values
start=0 step=1 by default

In [139]:
range(10)

range(0, 10)

In [140]:
list(range(10)) #to display the sequence of a list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [141]:
range(3,7)

range(3, 7)

In [142]:
list(range(3,7))

[3, 4, 5, 6]

In [143]:
range(1,20,2)

range(1, 20, 2)

In [145]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [146]:
for n in range(10):
    print(2**n,end=' ')

1 2 4 8 16 32 64 128 256 512

In [147]:
for x in range(20):
    if x%2==0:
        print(x,end=' ')
    else:
        print("odd",end=' ')

0 odd 2 odd 4 odd 6 odd 8 odd 10 odd 12 odd 14 odd 16 odd 18 odd

In [148]:
x=[0,1,2]
for item in x:
    print(item,end=' ')

0 1 2

In [149]:
for item in range(len(x)):
    print(x[item],end=' ')

0 1 2

In [150]:
def count(numbers):
    total=0
    for x in numbers:
        if x<20:
            total+=1
    return total

In [154]:
list=[1,3,7,15,89,133,24,10]

In [155]:
count(list)

5